html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  padding: 20px;
}

h1 {
  color: #4caf50;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Estilos para los botones de filtro */
div {
  margin-bottom: 20px; /* Espacio entre los botones de filtro y la lista */
}

div button {
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

div button:hover {
  background-color: #45a049;
}

/* Lista de tareas */
ul {
  list-style-type: none;
  padding: 0;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

li {
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 100px 150px; /* 3 columnas definidas */
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}

/* Botón de eliminar (Delete) */
li button {
  background-color: #f44336;
  padding: 8px 16px;
  border-radius: 5px;
  width: auto;
  min-width: 120px;
}

/* Botón de marcar como completado */
li button:hover {
  background-color: #e53935;
}

li .task-text {
  text-align: left;
  font-size: 16px;
}

li .action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

li .action-buttons button {
  width: auto;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

li .action-buttons button:hover {
  background-color: #45a049;
}
